<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Twitter Api Implementation</title>
</head>
<br>
<label><b>Search</b></label> </br>
<a href="www.google.com"; name="Search_Tweets" id="Search_Tweets"; >Search Tweets</a>
<br>
<label><b>Timelines</b></label></br>

<a href="www.google.com"; name="Home_Timeline" id="Home_Timeline"; >Home Timeline</a>
<br>
<label><b>Places & Geo</b></label></br>

<a href="www.google.com"; name="Search" id="Search"; >Search</a>
<br>
<label><b>Trends</b></label></br>

<a href="www.google.com"; name="Trends" id="Trends"; >Trends</a>

</body>
</html>