<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Twitter Api Implementation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    }
    </style>
</head>


<div class="center">
    <div class="form-group">
        <h2>Twitter Api Implementation</h2>
        <a href="/Search" id="Search_Tweets">Search Tweets</a>
        </br>
         <a href="/UserTimeline" id="User_Timeline" >User Timeline</a>
        </br>
         <a href="/FriendShipsCreate" id="Friendships_create" >Create Friendships</a>
        </br>
         <a href="/DirectMessage" id="Direct_message" >Direct Message</a>
        </br>
         <a href="/Tweet" id="Tweet" >Update Status</a>
        </br>
         <a href="/DeleteTweet" id="Delete" >Delete a Tweet</a>
        </br>
         <a href="/" id="7" >Your API Name</a>
        </br>
         <a href="/UsersLookup" id="Users_Lookup" >Users Lookup</a>
    </div>

</div>
</body>
</html>