<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Twitter Api Implementation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    }
    </style>
</head>


<div class="center">
    <div class="form-group">
        <h2>Twitter Api Implementation</h2>
        <a href="/Search" id="Search_Tweets">Search Tweets</a>
        </br>
         <a href="/UserTimeline" id="User_Timeline" >User Timeline</a>
        </br>
         <a href="/" id="3" >Your API Name</a>
        </br>
         <a href="/" id="4" >Your API Name</a>
        </br>
         <a href="/" id="5" >Your API Name</a>
        </br>
         <a href="/" id="6" >Your API Name</a>
        </br>
         <a href="/" id="7" >Your API Name</a>
        </br>
         <a href="/" id="8" >Your API Name</a>

    </div>

</div>
</body>
</html>